<!DOCTYPE html>
<html>
  <head>
    <title>SpecialtyFoods</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <% content_for(:navbar) do %>
    <li><a href="/">Home</a></li>
    <li><a href="/prodcuts">Products</a></li>
    <li><a href="/products/new">New Product</a></li>
    <li><a href="/review/new">New Reviews</a></li>
  <% end %>

  <body>
    <div id="navbar">
      <a href="/">Home</a>
      <a href="/products">Products</a>
    </div>
    <div class="container">
      <%= flash[:alert] %>
      <%= flash[:notice] %>
      <%= yield %>
    </div>
  </body>
</html>
